body {
    font-family: Arial, sans-serif;
    background-image: url('images/Minecraft\ Getaways\ 🌳☁️.jpg');
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.047);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a { color: rgb(255, 255, 255); 
    margin: 0 15px; text-decoration: none; 
    font-weight: bold; 
    font-size: x-large; 
    padding: 10px 15px; border: 2px 
    solid white; border-radius: 10px; transition: 
    background-color 0.3s, 
    color 0.3s; } 
    nav a:hover { background-color: white; color: black; }

main {
    padding: 20px;
}

h1 {
    font: size 100%;;
    text-align: center;
    color: rgb(247, 251, 251);
}

h2{
    font-size: xx-large;
    color: azure;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container
{
    border: 2px solid white;
    padding: 10px;
    margin: 20px;
}

.tips-images { display: flex; flex-direction: column; align-items: center; gap: 20px; } 
.tips-images .image-container { width: 80%; ; padding: 10px}

form { display: flex; flex-direction: column; gap: 10px; width: 80%; max-width: 500px; margin: 0 auto; } 
label { font-size: large; margin-bottom: 5px; } 
input, 
textarea { font-size: medium; padding: 10px; border: 2px solid white; border-radius: 5px; background-color: rgba(255, 255, 255, 0.7); } 
button { font-size: large; padding: 10px; border: none; border-radius: 5px; background-color: white; color: black; cursor: pointer; transition: background-color 0.3s, color 0.3s; } 
button:hover { background-color: black; color: white; }

footer p {
    margin: 0;
}


